
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
<meta name="format-detection"content="telephone=no">
<title>微信h5宣传页面</title>
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div class="perspective">
    <!-- loading begin-->
    <div class="load" style="display: block;">
        <div class="loadImg">
        <div class="loadTxt">loading</div>
        <div class="circle"></div>
        <div class="circle1"></div>
        </div>
     </div>
    <!-- loading end-->

    <!-- global begin-->
    <div class="global">
      <div class="screen">
            <!-- layer1 begin -->
            <section id="layer_1" class="layer layer1">
                <div class="inner">
                    <!-- 标题 begin -->
                    <div class="hd hd_bd"><span class="tit">顶部标题说明文字</span></div>
                    <!-- 标题 end -->

                    <!-- 内容 end -->
                    <div class="bd">
                        <h1 class="logo"><img width="320" src="images/top_logo.png" alt="" /></h1>
                        <div class="mofang"><img width="260" src="images/picblock.png" alt="" /></div>
                    </div>
                    <!-- 内容 end -->

                    <div class="ft">
                        <div class="btn btn1">tab跳转页面一</div>
                        <div class="btn btn2">tab跳转页面二</div>
                        <div class="btn btn3">tab跳转页面三</div>
                        <div class="btn btn4">tab跳转页面四</div>
                    </div>
                </div>
            </section>
            <!-- layer1 end -->

            <!-- layer2 begin -->
            <section id="layer_2" class="layer layer2">
                <div class="inner">
                    <!-- 标题 begin -->
                    <div class="hd hd_bd"><span class="tit">顶部标题说明文字</span></div>
                    <!-- 标题 end -->

                    <!-- 内容 begin -->
                    <div class="bd">
                        <div id="js_tab_menu">
                          <ul>
                            <li class="on"><span>tab一</span></li>
                            <li><span>tab二</span></li>
                            <li><span>tab三</span></li>
                            <li><span>tab四</span></li>
                          </ul>
                        </div>
                        <div id="js_tab_contents">
                          <!--tab1 内容-->
                          <div class="conitem one" style="display:block;">
                            <div id="wrap_box">
                              <div id="scroller_1">
                                  <div class="items_box">
                                      <div class="item not_start">模块内容一</div>
                                      <div class="item not_start mt25">模块内容二</div>
                                      <div class="item not_start mt36">模块内容三</div>
                                      <div class="item not_start mt25">模块内容四</div>
                                      <div class="item not_start mt36">模块内容五</div>
                                      <div class="item not_start mt25">模块内容六</div>
                                      <div class="item not_start mt36">模块内容七</div>
                                      <div class="item not_start mt25">模块内容八</div>
                                  </div>
                              </div>
                            </div>
                          </div>

                          <!--tab2 内容-->
                          <div class="conitem two">
                            <div id="wrap_box_2">
                              <div id="scroller_2">
                                <div class="items_box">
                                  <div class="item not_start">模块内容一</div>
                                  <div class="item not_start mt25">模块内容二</div>
                                  <div class="item not_start mt36">模块内容三</div>
                                  <div class="item not_start mt25">模块内容四</div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <!--tab3 内容-->
                          <div class="conitem three">
                            <div class="items_box">
                              <div class="item not_start">模块内容一</div>
                              <div class="item not_start mt25">模块内容二</div>
                            </div>
                          </div>

                          <!--tab4 内容-->
                          <div class="conitem four">
                            <div class="items_box">
                              <div class="item not_start">模块内容一</div>
                              <div class="item not_start mt36">模块内容三</div>
                              <div class="item not_start">模块内容一</div>
                              <div class="item not_start mt25">模块内容四</div>
                            </div>
                          </div>
                        </div>
                    </div>
                    <!-- 内容 end -->
                    
                    <!-- 底部固定文字说明 begin -->
                    <div class="zh_bar">
                        <img width="320" src="images/bot_bar.png" alt="" />
                    </div>
                    <!-- 底部固定文字说明 end -->

                    <!-- 箭头 begin -->
                    <div class="swipe_tip"></div>
                    <!-- 箭头 end -->
                </div>
            </section> 
            <!-- layer2 end -->

            <!-- layer3 begin -->
            <section id="layer_3" class="layer layer3">
                <div class="inner">
                    <!-- 标题 begin -->
                    <div class="hd hd_bd"><span class="tit">顶部标题说明文字</span></div>
                    <!-- 标题 end -->

                    <!-- 内容 begin -->
                    <div class="bd">
                        <ul class="list cf">
                            <li class="item itemA"><span class="group">一</span>组</li>
                            <li class="item itemB"><span class="group">二</span>组</li>
                            <li class="item itemC"><span class="group">三</span>组</li>
                            <li class="item itemD"><span class="group">四</span>组</li>
                            <li class="item itemLogo"></li>
                            <li class="item itemE"><span class="group">五</span>组</li>
                            <li class="item itemF"><span class="group">六</span>组</li>
                            <li class="item itemG"><span class="group">七</span>组</li>
                            <li class="item itemH"><span class="group">八</span>组</li>
                        </ul>
                    </div>
                    <!-- 内容 end -->

                    <!-- 底部固定文字说明 begin -->
                    <div class="zh_bar">
                        <img width="320" src="images/bot_bar.png" alt="" />
                    </div>
                    <!-- 底部固定文字说明 end -->

                    <!-- 箭头 begin -->
                    <div class="swipe_tip"></div>
                    <!-- 箭头 end -->
                </div>
            </section>
            <!-- layer3 end -->

            <!-- layer4 begin -->
            <section id="layer_4" class="layer layer4">
                <div class="inner">
                    <!-- 标题 begin -->
                    <div class="hd hd_bd"><span class="tit">顶部标题说明文字</span></div>
                    <!-- 标题 end -->
                    
                    <!-- 时间轴 begin -->
                    <div class="timeline">
                        <div class="timeline_bd">
                            <div class="time_scale">
                                <i class="arr_top"></i>
                                <div id="goHome" class="go_home"></div>
                            </div>
                            <div class="linebox" id="wrapper" >
                                <div class="lineinner" id="scroller">
                                    <ul></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 时间轴 end -->

                    <!-- 底部固定文字说明 begin -->
                    <div class="zh_bar">
                        <img width="320" src="images/bot_bar.png" alt="" />
                    </div>
                    <!-- 底部固定文字说明 end -->

                    <!-- 箭头 begin -->
                    <div class="swipe_tip"></div>
                    <!-- 箭头 end -->
                </div>
            </section>
            <!-- layer4 end -->
      </div>
    </div>
    <!-- global end-->
</div>

<!-- 弹层 begin-->
<div class="story"></div>
<!-- 弹层 end-->

<script type="text/javascript" src="js/zepto.min.js"></script>
<script type="text/javascript" src="js/touch.js"></script>
<script type="text/javascript" src="js/iscroll_time.js"></script>
<script type="text/javascript" src="js/template.js"></script>
<script type="text/javascript">
//时间轴数据
var timelineDATA = {
    "list": [{
        "day": "几月几号",
        "week": "星期几",
        "match": [{
            "hot": 1,
            "time": "几点钟",
            "title": "标题内容",
            "describe": "描述的文字"
        }]
    },
    {
        "day": "几月几号",
        "week": "星期几",
        "match": [{
            "hot": 0,
            "time": "几点钟",
            "title": "标题内容",
            "describe": "描述的文字"
        },
        {
            "hot": 1,
            "time": "几点钟",
            "title": "标题内容",
            "describe": "描述的文字"},
        {
            "hot": 0,
            "time": "几点钟",
            "title": "标题内容",
            "describe": "描述的文字"
        }]
    },
    {
        "day": "几月几号",
        "week": "星期几",
        "match": [{
            "hot": 0,
            "time": "几点钟",
            "title": "标题内容",
            "describe": "描述的文字"
        },
        {
            "hot": 0,
            "time": "几点钟",
            "title": "标题内容",
            "describe": "描述的文字"
        },
        {
            "hot": 1,
            "time": "几点钟",
            "title": "标题内容",
            "describe": "描述的文字"
        },
        {
            "hot": 1,
            "time": "几点钟",
            "title": "标题内容",
            "describe": "描述的文字"
        }]
    },
    {
        "day": "几月几号",
        "week": "星期几",
        "match": [{
            "hot": 0,
            "time": "几点钟",
            "title": "标题内容",
            "describe": "描述的文字"
        },
        {
            "hot": 1,
            "time": "几点钟",
            "title": "标题内容",
            "describe": "描述的文字"
        },
        {
            "hot": 1,
            "time": "几点钟",
            "title": "标题内容",
            "describe": "描述的文字"
        }]
    },
    {
        "day": "几月几号",
        "week": "星期几",
        "match": [{
            "hot": 1,
            "time": "几点钟",
            "title": "标题内容",
            "describe": "描述的文字"
        },
        {
            "hot": 1,
            "time": "几点钟",
            "title": "标题内容",
            "describe": "描述的文字"
        },
        {
            "hot": 0,
            "time": "几点钟",
            "title": "标题内容",
            "describe": "描述的文字"
        }]
    },
    {
        "day": "几月几号",
        "week": "星期几",
        "match": [{
            "hot": 1,
            "time": "几点钟",
            "title": "标题内容",
            "describe": "描述的文字"
        },
        {
            "hot": 1,
            "time": "几点钟",
            "title": "标题内容",
            "describe": "描述的文字"
        },
        {
            "hot": 1,
            "time": "几点钟",
            "title": "标题内容",
            "describe": "描述的文字"
        }]
    },
    {
        "day": "几月几号",
        "week": "星期几",
        "match": [{
            "hot": 1,
            "time": "几点钟",
            "title": "标题内容",
            "describe": "描述的文字"
        },
        {
            "hot": 1,
            "time": "几点钟",
            "title": "标题内容",
            "describe": "描述的文字"
        },
        {
            "hot": 0,
            "time": "几点钟",
            "title": "标题内容",
            "describe": "描述的文字"
        }]
    },
    {
        "day": "几月几号",
        "week": "星期几",
        "match": [{
            "hot": 1,
            "time": "几点钟",
            "title": "标题内容",
            "describe": "描述的文字"
        },
        {
            "hot": 1,
            "time": "几点钟",
            "title": "标题内容",
            "describe": "描述的文字"
        },
        {
            "hot": 0,
            "time": "几点钟",
            "title": "标题内容",
            "describe": "描述的文字"
        }]
    },
    {
        "day": "几月几号",
        "week": "星期几",
        "match": [{
            "hot": 1,
            "time": "几点钟",
            "title": "标题内容",
            "describe": "描述的文字"
        },
        {
            "hot": 1,
            "time": "几点钟",
            "title": "标题内容",
            "describe": "描述的文字"
        },
        {
            "hot": 0,
            "time": "几点钟",
            "title": "标题内容",
            "describe": "描述的文字"
        }]
    },
    {
        "day": "几月几号",
        "week": "星期几",
        "match": [{
            "hot": 1,
            "time": "几点钟",
            "title": "标题内容",
            "describe": "描述的文字"
        },
        {
            "hot": 1,
            "time": "几点钟",
            "title": "标题内容",
            "describe": "描述的文字"
        },
        {
            "hot": 0,
            "time": "几点钟",
            "title": "标题内容",
            "describe": "描述的文字"
        }]
    },
    {
        "day": "几月几号",
        "week": "星期几",
        "match": [{
            "hot": 1,
            "time": "几点钟",
            "title": "标题内容",
            "describe": "描述的文字"
        },
        {
            "hot": 0,
            "time": "几点钟",
            "title": "标题内容",
            "describe": "描述的文字"
        },
        {
            "hot": 1,
            "time": "几点钟",
            "title": "标题内容",
            "describe": "描述的文字"
        }]
    },
    {
        "day": "几月几号",
        "week": "星期几",
        "match": [{
            "hot": 1,
            "time": "几点钟",
            "title": "标题内容",
            "describe": "描述的文字"
        },
        {
            "hot": 1,
            "time": "几点钟",
            "title": "标题内容",
            "describe": "描述的文字"
        },
        {
            "hot": 0,
            "time": "几点钟",
            "title": "标题内容",
            "describe": "描述的文字"
        },
        {
            "hot": 0,
            "time": "几点钟",
            "title": "标题内容",
            "describe": "描述的文字"
        }]
    },
    {
        "day": "几月几号",
        "week": "星期几",
        "match": [{
            "hot": 1,
            "time": "几点钟",
            "title": "标题内容",
            "describe": "描述的文字"
        },
        {
            "hot": 0,
            "time": "几点钟",
            "title": "标题内容",
            "describe": "描述的文字"
        },
        {
            "hot": 1,
            "time": "几点钟",
            "title": "标题内容",
            "describe": "描述的文字"
        },
        {
            "hot": 0,
            "time": "几点钟",
            "title": "标题内容",
            "describe": "描述的文字"
        }]
    }]
};
</script>
<script id="listHtml" type="text/html">
<%for(i = 0; i < list.length; i ++) {%>
    <li data-item=<%=i%> class="item <% if(list[i].type && list[i].type != 1){%> itemType<%}%>">
        <% if(list[i].type && list[i].type != 1) {%>
            <div class="type"><%=list[i].type%></div>
        <%}%>
        <i class="dot"></i>
        <div class="day">
            <time><%=list[i].day%></time>
            <p><%=list[i].week%></p>
        </div>
        <div class="box <% if(list[i].type){%> box2<%}%>">
            <%for(j = 0; j < list[i].match.length; j ++) {%>
                <dl class="cf">
                    <dt class="time fl"><%=list[i].match[j].time%></dt>
                    <dd class="text <% if(list[i].match[j].describe == ''){%> text2<%}%>">
                        <div class="tit">
                            <% if(!list[i].type) {%>
                                <span class="num"><%= $num() %></span>
                            <%}%>
                            <%=list[i].match[j].title%><% if(list[i].match[j].hot){%><span class="hot">HOT</span><%}%>
                        </div>
                        <%=list[i].match[j].describe%>
                    </dd>
                </dl>
            <%}%>
        </div>
    </li>
<%}%>
</script>
<script type="text/javascript">
function getArgs() {
    var args = {};
    var query = location.search.substring(1);
    var pairs = query.split("&");
    for (var i = 0; i < pairs.length; i++) {
        var pos = pairs[i].indexOf("=");
        if (pos == -1) continue;
        var argname = pairs[i].substring(0, pos);
        var value = pairs[i].substring(pos + 1);
        value = decodeURIComponent(value);
        args[argname] = value;
    }
    return args;
}
// tab
var ScTab = {
  cur: 0,
  menu: $('#js_tab_menu li'),
  cons: $('#js_tab_contents .conitem'),
  init: function() {
    ScTab.menu.each(function (i,e) {
      $(e).tap(function (){
        if (ScTab.cur != i) {
          ScTab.cur = i;
          ScTab.change(ScTab.cur);
        }
      })
    });
//页卡默认位置设定
    ScTab.change(3);
  },
  change: function(index) {
    ScTab.menu.removeClass('on').eq(index).addClass('on');
    ScTab.cons.hide().eq(index).show();
    if(index == 0) {
      myScroll_1 = new IScroll('#wrap_box', {
            minScrollY : 0,
            useTransition : true,
            topOffset : 0,
            probeType: 3, //开启 scroll 事件
            mouseWheel: true, 
            click: true,
            vScroll: true, //是否垂直滚动  
            y: 10, //滚动垂直初始位置
            fixedScrollbar: true, 
            momentum : true //设置是否开始惯性，关闭此效果可节省资源
        });
    }
    if(index == 1) {
      myScroll_2 = new IScroll('#wrap_box_2', {
            minScrollY : 0,
            useTransition : true,
            topOffset : 0,
            probeType: 3, //开启 scroll 事件
            mouseWheel: true, 
            click: true,
            vScroll: true, //是否垂直滚动  
            y: 10, //滚动垂直初始位置
            fixedScrollbar: true, 
            momentum : true //设置是否开始惯性，关闭此效果可节省资源
        });
    }
  }
}

var Layer = {
    num: 0,
    s_tab_cur: 0,
    getData: function(){
        var _this = this;
        _this.num = 0;
        template.helper('$num', function () {
            _this.num ++;
            if(_this.num < 10){
                _this.num = "0" + _this.num;
            }
            return _this.num;
        });
        $("#scroller ul").html(template.render("listHtml", timelineDATA));
        loaded();
    },
    page: function(obj, screen_x){
        var _this = this;
        _this.num = 0;
        switch(obj){
            case "#layer_2":
              myScroll_1 = new IScroll('#wrap_box', {
              minScrollY : 0,
              useTransition : true,
              topOffset : 0,
              probeType: 3, //开启 scroll 事件
              mouseWheel: true, 
              click: true,
              vScroll: true, //是否垂直滚动  
              y: 10, //滚动垂直初始位置
              fixedScrollbar: true, 
              momentum : true //设置是否开始惯性，关闭此效果可节省资源
          });
        setTimeout(function () {
            myScroll_2 = new IScroll('#wrap_box_2', {
                minScrollY : 0,
                useTransition : true,
                topOffset : 0,
                probeType: 3, //开启 scroll 事件
                mouseWheel: true, 
                click: true,
                vScroll: true, //是否垂直滚动  
                y: 10, //滚动垂直初始位置
                fixedScrollbar: true, 
                momentum : true //设置是否开始惯性，关闭此效果可节省资源
            });
          }, 200);
              break;
            case "#layer_3":
                matchAjax.init();
                break;
            case "#layer_4": 
                _this.getData();
                $("#layer_4 .item").each(function(index, o){
                    if(index < 5){
                        $(o).addClass("delay" + index);
                    }
                });
                break;
        };

         $(".screen").removeClass("screen_x0 screen_x90 screen_x180 screen_x270 screen_x360").addClass(screen_x);
        if(screen_x == "screen_x360"){
            setTimeout(function(){
                $(".screen").removeClass("ease screen_x360");
                setTimeout(function(){
                    $(".screen").addClass("ease");
                }, 500);
            }, 1100);
        }

        $(".layer .inner").removeClass("animate");
        $(obj).find(".inner").addClass("animate");
        $(".btn").removeClass("btnAnimate");
    },
    btn1: function(o){
        var _this = this;
        $("#layer_1 .inner").removeClass("animate");
        $(o).addClass("btnAnimate");
        setTimeout(function(){
            _this.page("#layer_2", "screen_x90");
        }, 500);
    },
    btn2: function(o){
        var _this = this;
        $("#layer_1 .inner").removeClass("animate");
        $(o).addClass("btnAnimate");
        setTimeout(function(){
            _this.page("#layer_3", "screen_x180");
        }, 500);
    },
    btn3: function(o){
        var _this = this;
        $("#layer_1 .inner").removeClass("animate");
        $(o).addClass("btnAnimate");
        setTimeout(function(){
            _this.page("#layer_4", "screen_x270");
        }, 500);
    },
    btn4: function(o){
        var _this = this;
        var _w = $(window).width();
        var _h = $(window).height();
        var _html = '<div class="full_screen">'
                    +'<img width="320" src="images/link_img.jpg" />'
                    +'<a class="link" href="#" target="_blank"><img width="320" src="images/linkbtn.png" /></a>'
                    +'<span class="close"></span>'
                    +'</div>';
        $(".story").append(_html);
        $(".full_screen").width(_w).height(_h);
        if(o){
            $(o).addClass("btnAnimate");
            $(".full_screen").addClass("bounceIn animated dialog_index");
            setTimeout(function(){
                $(".full_screen").removeClass("bounceIn animated").addClass("opacity");
            }, 800);
        }
        $(".story .full_screen").find(".close").on("click", function(){
            $(".full_screen").hide();
            setTimeout(function(){
                $(".full_screen").remove();
            }, 500);
        });
    },
    init: function(){
        var _this = this;
        var _w = $(window).width();
        var _h = $(window).height();

        if(_h < 480){
            $("body").addClass("ios");
        }
        var cmbc = getArgs().cmbc;
        if(!cmbc){
            if(isWho.is_osx() == "IOS" && isWho.is_qqnews()){
                _h = _h - 44;
            }
        }
        var _h2 = _h / 2;

        $(".layer, .screen, .story").width(_w).height(_h);
        $(".screen").addClass("ease");
        $(".layer").css({ position: "absolute"});
        $(".perspective").css({
            "-webkit-perspective": _h2 + "px",
            "-ms-perspective": _h2 + "px"
        });
        $(".global").css({ "-webkit-transform" : "translateZ(-" + _h2 + "px)" });
        $("#layer_1").css({ "-webkit-transform": "rotateX(0deg) translateZ(" + _h2 + "px)"});
        $("#layer_2").css({ "-webkit-transform": "rotateX(-90deg) translateZ(" + _h2 + "px)" });
        $("#layer_3").css({ "-webkit-transform": "rotateX(180deg) translateZ(" + _h2 + "px)" });
        $("#layer_4").css({ "-webkit-transform": "rotateX(-270deg) translateZ(" + _h2 + "px)" });

        $(".mofang").on("click", function(){
            $("#layer_1 .inner").removeClass("animate");
            $(this).addClass("btnAnimate");
            setTimeout(function(){
                _this.page("#layer_2", "screen_x90");
            }, 500);
        });

        $(".layer .inner").removeClass("animate");
        $("#layer_1 .inner").addClass("animate");
        $("#layer_1 .btn1").on("swipeUp",function(){
            _this.btn1(this);
        }).on("click", function(){
            _this.btn1(this);
        });
        $("#layer_1 .btn2").on("swipeUp", function(){
            _this.btn2(this);
        }).on("click", function(){
            _this.btn2(this);
        });
        $("#layer_1 .btn3").on("swipeUp", function(){
            _this.btn3(this);
        }).on("click", function(){
            _this.btn3(this);
        });
        $("#layer_1 .btn4").on("swipeUp", function(){
            _this.btn4(this);
        }).on("click", function(){
            _this.btn4(this);
        });

        $("#layer_1 .bd").on("swipeUp", function(){
            _this.page("#layer_2", "screen_x90");
        });
    
        $("#layer_2 .zh_bar").on("swipeUp", function(){
           _this.page("#layer_3", "screen_x180");
        }).on("swipeDown",function(){
            _this.page("#layer_1", "screen_x0");
        });
        
    ScTab.init(0);
        $("#layer_3").on("swipeUp", function(){
            _this.page("#layer_4", "screen_x270");
        }).on("swipeDown",function(){
            _this.page("#layer_2", "screen_x90");
        });

        $("#layer_4 .ft, #layer_4 .zh_bar").on("swipeUp", function(){
            setTimeout(function(){
                _this.btn4();
            }, 600);
            _this.page("#layer_1", "screen_x360");
        });

        $("#goHome").on("click", function(){
             _this.page("#layer_1", "screen_x360");
        });

    }
}

var mars;

var matchAjax = {
    fullData: function (obj, list, objClass){
        var name = $(obj).find(objClass).html();
        var tempData = {
            list: []
        };
        for(var i in list){
            if(objClass == ".team"){
                if(list[i].homeName == name || list[i].awayName == name){
                    tempData.list.push(list[i]);
                    tempData.name = name;
                }
            }
            if(objClass == ".group"){

              console.log(list[i].groupName);
              
                if(list[i].groupName == name){
                  list[i].homeScore = fzscData[i][1];
                  list[i].visitScore = fzscData[i][2];
                    tempData.list.push(list[i]);
                    tempData.name = name + "组";
                }
            }
        }

        mars = list;
    },
    ajax: function(){
        var _this = this;
        $.ajax({
            type: "GET",
            url: "http://sportswebapi.qq.com/worldcup/matchList?columnId=4&deviceId=&videoApp",
            dataType: "jsonp",
            success: function(res){
                var d = res[1].match
                var data = {list:[]};
                for(var i in d){
                    for(var j in d[i]){
                        for(var k in d[i][j]){
                            data.list.push(d[i][j][k]);
                        }
                    }
                }
                $("#layer_3 .item").on("click", function(){
                    var _class = $(this).hasClass("itemLogo");
                    if(!_class){
                        _this.fullData(this, data.list, ".group");
                    }
                });
            }
        });
    },
    init: function(){
        var num = 0;

        template.helper('$sub', function (content) {
            return content.substr(5, 11);
        });
        this.ajax();
    }
}
window.addEventListener('load', function(){
    $(".load").css({display: "none"});

    // 页面切换
    Layer.init();
}, false);

var _uas = navigator.userAgent.toLowerCase();
var isWho = {
    is_osx : function(){
        if(_uas.match(/iphone/i) == "iphone"){
            return "IOS"
        }
    },
    is_qqnews: function(){
        if(_uas.match(/qqnews/i) == "qqnews"){
            return true;
        } else {
            return false;
        }
    },
    is_weixin: function (){
        if(_uas.match(/MicroMessenger/i) == "micromessenger"){
            return true;
        } else {
            return false;
        }
    }
}
var share = function(){
    var _uas = navigator.userAgent.toLowerCase();
    var _title = document.title;
    var _des = document.title;
    var _pic = "";
    if(isWho.is_qqnews()){
        window.TencentNews.shareFromWebView(_title, _des, _pic);
    }else if(isWho.is_weixin()){
        $(".weixin_layer").show();
        $('.weixin_layer').off('click').on('click',function(){
           $('.weixin_layer').hide();
        });
    }else{
        window.location = "http://share.v.t.qq.com/index.php?c=share&a=index&url="+window.location.href+"&appkey=801378464&title=" + _title + "&pic=" + _pic + "&line1=";
    }
}

var myScroll;
function loaded () {
    myScroll = new IScroll('#wrapper', {
        minScrollY : 0,
        useTransition : true,
        topOffset : 0,
        probeType: 3, //开启 scroll 事件
        mouseWheel: true, 
        click: true,
        vScroll: true, //是否垂直滚动  
        y: 10, //滚动垂直初始位置
        fixedScrollbar: true, 
        momentum : true //设置是否开始惯性，关闭此效果可节省资源
    });
    myScroll.on('scroll', function(){
        var _this = myScroll;
    });
    myScroll.on('scrollStart', function(){
    })
    myScroll.on('scrollEnd', function(){

    });
}
document.addEventListener('touchmove', function (e) { 
    e.preventDefault(); 
}, false);
</script>
</body>
</html>